<div class="search">
		<form {{action "submitSearch" on="submit"}}>
			<fieldset>
				{{input type="text" class="form-control" value=searchItem}}
				<input type="submit" name="submit" id="submit-search" class="btn btn-default" value="Search" />
			</fieldset>		
		</form>
	</div>