<header>
	<div class="container">
		<ul class="nav nav-tabs">
		<li>{{#link-to 'search'}}Search{{/link-to}}</li>
		</ul>
	</div>
</header>

<div class="container">
	{{outlet}}
</div>

<footer>
	<div class="container">
		<p>&copy; 2015</p>
	</div>
</footer>